<section id="tools">
    <h1>Tools</h1>
    <table>
        <thead>
            <tr>
                <th>Tool</th>
                <th>Description</th>
            </tr>
        </thead>
		<tbody>
			<tr>
				<td><a href="https://u.eq2wire.com/">EQ2U</a></td>
				<td>Character and item information, directly from the DBG servers.</td>
			</tr>
            <tr>
                <td><a href="/number-helper/">Number helper</a></td>
                <td>EverQuest II's numbers for i.e. damage dealt or amount
                    healed have grown extremely large and can be hard to wrap
                    your head around. This tool helps you by breaking down the
                numbers and allowing you to quickly compare two sets of numbers
                (ie. old grandmaster spell values vs. new adept). Works well on
                a phone so you can enter values while in-game.
                </td>
            </tr>
		</tbody>
    </table>
</section>

