<section id="websites">
    <h1>Websites</h1>
    <table>
        <thead>
            <tr>
                <th>Resource</th>
                <th>Description</th>
            </tr>
        </thead>
		<tbody>
			<tr>
				<td><a href="https://eq2.fandom.com/">EQ2i</a></td>
				<!-- Using EverQuest 2 not II on purpose here for SEO -->
				<td>The most expansive wiki for EverQuest 2, contains information about practically everything.</td>
			</tr>
			<tr>
				<td><a href="https://www.eq2furniture.com/">EQ2Furniture</a></td>
				<td>An expansive website with information about house items, and a searchable database where you can look up how to craft certain items, or list all items in a given recipie book - complete with screenshots.</td>
			</tr>
			<tr>
				<td><a href="http://eq2.eqtraders.com/">EQ2 Traders Corner</a></td>
				<td>Loads of useful information for tradeskilling, on house items and event quests.</td>
			</tr>
		</tbody>
    </table>
</section>

