<section id="youtubers">
    <h1>YouTubers and content creators</h1>
    <table>
        <thead>
            <tr>
                <th>Channel</th>
                <th>Description</th>
            </tr>
        </thead>
		<tbody>
			<tr>
				<td><a href="https://www.youtube.com/user/antizark">Antizark gaming</a></td>
				<td>EverQuest II video news and guides.</td>
			</tr>
            <tr>
                <td><a href="https://www.youtube.com/@EverQuestShow">The EverQuest Show</a></td>
                <td>EverQuest and EverQuest II news and commentary, see also <a href="https://everquestshow.com/">everquestshow.com</a>.</td>
            </tr>
		</tbody>
    </table>
</section>
