$mobileWidth: 500px;

:root {
    --eq2-gold: #efc352;
    --eq2-dark-gold: #efc352;
    --offwhite: #dedede;
    --eq2-dark-red: #2c0505;

    --content-background: #2a1a1a;
    --secondary-background: #3b313b;
    --eq2-black-bg: #12090a;
    --search-box-bg: var(--eq2-black-bg);
    --search-box-highlight-border: var(--eq2-dark-gold);
    --text-color: var(--offwhite);
    --link-color: #efdfaa;
    --gold-color: var(--eq2-gold);
    --gold-border-color: var(--eq2-dark-gold);
    --highlight-hover-bg: var(--eq2-dark-red);
    --header-color: var(--gold-color);
}
.theme-light {
    --content-background: #fffbe9;
    --text-color: #000000;
    --link-color: var(--eq2-dark-red);
    --search-box-bg: var(--offwhite);
    --search-box-highlight-border: var(--eq2-dark-red);
    --highlight-hover-bg: white;
    --header-color: #a50501;
}

/**
 * A mixin enabling flex
 */
@mixin flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    &.no-flex-on-mobile {
        @media (max-width: $mobileWidth) {
            display: block;
        }
    }
}
/**
 * A mixin that is used for an IntersectionObserver hack that detects position:sticky
 */
@mixin intersectionObserverStickyHack {
    position: sticky;
    top: -1px;
    padding-top: calc(1em + 1px); /* compensate for the above */
}

html,
body {
    background-color: var(--secondary-background);
}

.has-js .requires-js {
    visibility: visible;
}
.requires-js {
    visibility: hidden;
}

img,
main {
    background-color: var(--content-background);
}
body {
    font-family: "Roboto", "Segoe UI", "Helvetica Neue", Arial,
        BlinkMacSystemFont, -apple-system, sans-serif;
    color: var(--text-color);
    margin: 0;
    font-size: 1rem;
    line-height: 1.15;
}
main {
    padding-top: 1rem;
    max-width: 44rem;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--gold-border-color);
    @media (max-width: $mobileWidth) {
        border: 0px;
        margin-top: 0em;
        margin-bottom: 0em;
        width: 100%;
    }
}
footer {
    font-size: 75%;
}
a,
a:visited {
    color: var(--link-color);
    // Assassin links hide in the shadows, and are invisible to the naked eye
    // (aka. they look like regular text until you hover over them)
    &.assassin-link {
        color: var(--text-color);
        text-decoration: none;
        &:hover {
            color: var(--link-color);
            text-decoration: underline;
        }
    }
}
.text-center {
    text-align: center;
}
header,
menu {
    padding-left: 1rem;
    padding-right: 1rem;
}
header {
    .headerLogo {
        max-height: 1.5rem;
        padding-right: 0.5rem;
    }
    h1 {
        display: inline-block;
        color: var(--header-color);
    }
}
table {
    width: 100%;
    @media (pointer: fine) {
        tr:hover {
            background-color: var(--highlight-hover-bg);
        }
    }
    th {
        text-align: left;
    }
    td {
        vertical-align: top;
    }
    border-spacing: 0px 0.5em;
    tr > td:first-child {
        min-width: 30%;
        padding-right: 1em;
        @media (max-width: $mobileWidth) {
            min-width: 0%;
        }
    }
    td ul {
        padding-left: 15px;
    }
}
.table-description {
    margin-bottom: 1rem;
}

menu {
    margin: 0px;
    font-weight: bold;
    a,
    a:visited {
        color: var(--text-color);
        margin-right: 1rem;
        white-space: nowrap;
        // For extremely small screens, allow it to wrap
        @media (max-width: 270px) {
            white-space: normal;
        }
    }
    a:last-child {
        margin-right: 0px;
    }
}

#eq2QuickSearch {
    &.smaller {
        font-size: 0.7rem;
    }
}
#noHits,
#notWhatYouWereLookingFor {
    display: none;
    visibility: hidden;
    &.visible {
        display: inline;
        visibility: visible;
    }
}
#eq2QuickSearch {
    display: none;
    visibility: hidden;
    &.visible {
        display: block;
        visibility: visible;
    }
}

#searchSection {
    background-color: var(--content-background);
    @include flex-container;
    @include intersectionObserverStickyHack;
    #searchForm {
        transition: width 0.5s ease-in-out;
        width: 100%;
        #search {
            background-color: var(--search-box-bg);
            color: var(--text-color);
            border-color: var(--gold-border-color);
            &:focus-visible {
                outline: 1px solid var(--search-box-highlight-border);
            }
        }
    }
    #returnToTop {
        overflow: hidden;
        width: 0px;
        transition: width 0.5s ease-in-out;
        font-size: 1.7em;
    }
    &.is-sticky {
        #returnToTop {
            width: 1.7em;
            padding-left: 5px;
            font-size: 1.7em;
            &:hover {
                color: var(--link-color);
                cursor: pointer;
            }
        }
    }
}

form {
    position: relative;
    input {
        height: 35px;
    }
    input:invalid {
        box-shadow: none;
    }
    input[type="search"]:not(:valid) ~ input[type="reset"] {
        display: none;
    }
    input[type="search"] {
        width: 100%;
    }
    input[type="reset"] {
        background: none;
        border: none;
        position: absolute;
        right: 0px;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

[data-filter="expansions:only-level-increases"] #expacShowOnlyLevelInc {
    font-weight: bold;
}

.sm-filter-links,
#themeToggle {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 75%;
}

#themeToggle {
    .darkToggleButton {
        font-weight: bold;
    }
    .theme-light & {
        .darkToggleButton {
            font-weight: normal;
        }
        .lightToggleButton {
            font-weight: bold;
        }
    }
}

abbrev,
.like-abbrev {
    text-decoration: underline dotted;
    cursor: help;
}

section,
footer {
    padding: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 1rem 0;
}
/*
 * Number helper styling
 */
.number-helper {
    input {
        background-color: var(--search-box-bg);
        color: var(--text-color);
        border-color: var(--gold-border-color);
        width: 90%;
    }
}

.backLink {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 80%;
}

.flex-container {
    @include flex-container;
}
.flex-item:first-child {
    padding-left: 0px;
}
.flex-item:last-child {
    padding-right: 0px;
}
.flex-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    flex: 0 1 auto;
    flex-grow: 1;
}
.flex-fixed-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0 0 1rem 0;
}
.onlyMobile {
    display: none;
}
// Merge flex containers when on phones
@media (max-width: $mobileWidth) {
    .onlyMobile {
        display: unset;
    }
    .flex-item {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0px;
        padding-right: 0px;
    }
    .flex-fixed-item {
        padding-top: 1rem;
    }
}

/*
 * *********************
 * Various minor helpers
 * *********************
 */
.mt-03 {
    margin-top: 0.3rem;
}
.mt-05 {
    margin-top: 0.5rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.d-block {
    display: block;
}
.d-none {
    display: none;
}
.p-top-0 {
    padding-top: 0px;
}

/*
 * This removes the IE- (but not Edge) and webkit-specific "clear field"
 * styling on search fields.  It's nonstandard and conflicts with our own
 * styling of the search field.
 */
input[type="search"]::-ms-clear {
    display: none;
}
input[type="search"] {
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/**
 * We use the loading indicator from bootstrap
 */
// The small spinner needs to be smaller than the default
$spinner-width-sm: 0.7rem;
// Required deps
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
// The loading indicator
@import "./node_modules/bootstrap/scss/spinners";
