<footer>
    This is revision <a href="https://gitlab.com/zerodogg/eq2qr/-/tree/{{{REVISION}}}">{{{REVISION}}}</a> of <i>EverQuest II: A reference</i> updated on {{{DATE}}}. It is copyright © <a href="https://www.zerodogg.org/">Eskild Hustvedt</a> {{{YEAR}}}. The text and <a href="https://gitlab.com/zerodogg/eq2qr/">source code</a> is licensed under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License</a> version 3.<br />
    Graphical assets from <a href="https://www.everquest2.com/" class="assassin-link">EverQuest II</a> are © <a href="https://www.daybreakgames.com/" class="assassin-link">Daybreak Game Company</a> LLC. All Rights Reserved. Daybreak, the Daybreak logo and EverQuest II are trademarks or registered trademarks of Daybreak Game Company LLC.
</footer>
</main>
<script data-goatcounter="https://eq2qr.goatcounter.com/count" async src="//gc.zgo.at/count.v2.js" crossorigin="anonymous" integrity="sha384-PeYXrhTyEaBBz91ANMgpSbfN1kjioQNPHNDbMvevUVLJoWrVEjDCpKb71TehNAlj"></script>
</body>
</html>
