<section id="eq2QuickSearch">
    <span id="noHits">No results found in <i>EverQuest II: A reference</i>.</span>
    <span id="notWhatYouWereLookingFor">Not what you were looking for?
        Try <a id="quickSearchLink" href="#">searching for «<span id="quickSearchString"></span>» on the EQ2i wiki</a>.
    </span>
</section>
<section id="eq2WikiQuickSearch">
    <span id="eq2wikiNowSearching" class="d-none">Searching the wiki... <div class="spinner-border spinner-border-sm" role="status"></div></span>
    <span id="eq2wikiResults" class="d-none"></span>
</section>
<script src="/logic.js?rev={{{MAIN_JS_GIT_REVISION}}}" async></script>
