<header>
    <h1 class="d-block">EverQuest II: A reference</h1>
    <a class="backLink" href="/">&larr; Back to the main page</a>
    <h2 class="d-block">Number helper</h2>
</header>
<section class="p-top-0">
    This is a helper to assist with understanding the huge numbers that are in
    EverQuest II these days, and helping you compare various values. It works
    nicely on mobile phones so you can type while the game is open. It is a
    part of <a href="https://eq2reference.org"><i>EverQuest II: A
    reference</i></a>.
</section>
<section class="number-helper" id="root"></section>
<script src="/number-helper.js?rev={{{NUMHELPER_JS_GIT_REVISION}}}" async></script>
